# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://cmuezfkmjzxjkrtgbfns.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_aOcuFyE_4Ts4ID5Tpd9gGw_SGoyEzTF

# Site Configuration
SITE_URL=http://localhost:3000
